/* module 3 css */

/* Header */
#brand-name {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}
#nav-menu-list {
    background-color: aqua
}
/* End header */

/* Main content */
#content{
    background-color: azure;
    margin: 0 15px 0 15px;
}

/* End main content */